<div id='component'>
  <div id='pagetitle'>
    <span><strong>{{title}}&nbsp;</strong></span>
    <span><a routerLink='/request/create'><strong>New Request</strong></a></span>
    <span><a routerLink='/request/list'><strong>Back to list</strong></a></span>
  </div>
  <p *ngIf='!request'>Loading...</p>
  <!-- <span *ngIf='this.loggedInUser.isAdmin == true'>           -->
  <!-- <div *ngIf='request'> -->

  <!-- <div class="form-group row">
    <label class='col-form-label col-sm-2' for="requestUser">User Name:</label>
    <input [(ngModel)]='request.user.username' name='Request' type="text" class="form-control col-sm-6" id="requestuser"
      aria-describedby="requestUserHelp" placeholder="Request">
    <small id="requestUserHelp" class="form-text text-muted col-sm-2">Request's User</small>
  </div> -->

  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="requesDdescription">Description:</label>
    <input [(ngModel)]='request.description' name='Description' type="text" class="form-control col-sm-6"
      id="requestdescription" aria-describedby="descriptionHelp" placeholder="Description">
    <small id="descriptionHelp" class="form-text text-muted col-sm-2">Request's Description</small>
  </div>

  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="requestJustification">Justification:</label>
    <input [(ngModel)]='request.justification' name='Justification' type="text" class="form-control col-sm-6"
      id="requestjustification" aria-describedby="justificationHelp" placeholder="Justification">
    <small id="justificationHelp" class="form-text text-muted col-sm-2">Request's Justification</small>
  </div>

  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="requestdeliverymode">Delivery Mode:</label>
    <input [(ngModel)]='request.deliveryMode' name='DeliveryMode' type="text" class="form-control col-sm-6"
      id="deliverymode" aria-describedby="DeliveryModeHelp" placeholder="DeliveryMode">
    <small id="unameHelp" class="form-text text-muted col-sm-2">Request's Delivery Mode:</small>
  </div>
  <!-- using a readonly attribute for userId helps to prevent fraud and reduce security risk -->
  <!-- <div class="form-group row">
    <label class='col-form-label col-sm-2' for="UserId">UserId:</label>
    <input [(ngModel)]='request.userId' name='UserId' type="text" class="form-control col-sm-6" id="userId"
      aria-describedby="userIdHelp" aria-readonly placeholder="UserId" aria-readonly="true">
    <small id="uidHelp" class="form-text text-muted col-sm-2">Request's User Id</small>
  </div> -->
  <div class='form-group'>
    <button (click)='create()' class='btn btn-primary'>Create</button>
  </div>

</div> <!-- need to add automatic form fill for user -->