
<div class='component-content'>
    <div class='lefthalf'>
      <span class='component-title'>[{{title}}] </span>
      <!-- <span><a *ngIf='loggedInUser.admin' routerLink='/request/create'> -->
          <span><a routerLink='/request/create'>
          <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'>
  
  
  
  
  <p *ngIf='!requests'>Loading ...</p>
  <table class="table table-sm" *ngIf='requests'>
    <tr>
      <th></th>
      <th class='table-secondary'></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('id')"><u>Id</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('userName')"><u>User Name</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('description')"><u>Description</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('justification')"><u>Justification</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('deliveryMode')"><u>Delivery Mode</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('status')"><u>Status</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('total')"><u>Total</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" ><u>Rejection Reason</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('user')"><u>Is Administrator</u></a></th>
      <th class="table-secondary btn-link"><a class='btn btn-link font-weight-bold'>Action</a></th>
    </tr>
  
  
  <tr *ngFor='let request of requests | sort:sortCriteria:sortOrder'>
  
      <td *ngIf='request.status != "REVIEW"'>{{request.id}}</td>
      <td *ngIf='request.status != "REVIEW"'>{{request.userName}}</td>
      <td *ngIf='request.status != "REVIEW"'>{{request.description}}</td>
      <td *ngIf='request.status != "REVIEW"'>{{request.justification}}</td>
      <td *ngIf='request.status != "REVIEW"'>{{request.deliveryMode}}</td>    
      <td *ngIf='request.status != "REVIEW"'>{{request.status}}</td>
      <td *ngIf='request.status != "REVIEW"'>{{request.total | currency}} </td>
      <td *ngIf='request.status != "REVIEW"'>{{request.rejectionReason}}</td>
      <td *ngIf='request.status != "REVIEW"'>{{request.isReviewer?"Reviewer":""}} {{request.admin?"admin":""}}</td>
  
  <td *ngIf='request.status != "REVIEW"' class='actions'>         <!-- can remove 'btn-link' to manipulat color scheme -->
    <a routerLink='/request/detail/{{request.id}}' style='padding-left: 16px' class='actionIcon'><img src='assets/details.png' width='20' height='20' title='Detail'></a>
     <div>
  
         <!-- <a *ngIf='loggedInUser.admin' routerLink='/request/edit/{{request.id}}' class='actionIcon'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a> -->
  
        <a routerLink='/request/edit/{{request.id}}' class='actionIcon'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a>
        <a routerLink='/request/lines/{{request.id}}'><img src='assets/lines.png' width='20' height='20' title='Lines'></a> -->
  
  
  </div>




<!-- <div class='component-content'>                                                                                                    ATTEMPT TO EDIT AS ALEX SUGGESTED, BUT THIS OR REQ-LINES BROKE REQ-REVIEW
  <div class='lefthalf'>
    <span class='component-title'>[{{title}}] </span> -->
  <!-- <span *ngIf='loggedInUser.admin'><a routerLink='/request/create'> -->
    <!-- <span><a routerLink='/request/create'>
      <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
  </span>  

<p *ngIf='!requests'>Loading ...</p>
<table class="table table-sm" *ngIf='requests'>
  <tr>   
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('id')"><u>Id</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('userName')"><u>User Name</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('description')"><u>Description</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('justification')"><u>Justification</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('deliveryMode')"><u>Delivery Mode</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('status')"><u>Status</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('total')"><u>Total</u></a></th> -->
    <!-- <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" ><u>Rejection Reason</u></a></th> -->
    <!-- <th class="table-secondary btn-link"><a class='btn btn-link font-weight-bold'>Action</a></th>
  </tr>
       <tr *ngFor='let request of requests | sort:sortCriteria:sortOrder'>
        <td {{request.id}}></td>
        <td {{request.user.username}}></td>
        <td {{request.description}}></td>
        <td {{request.justification}}></td>
        <td {{request.deliveryMode}}></td>
        <td {{request.status}}></td>
        <td {{request.total | currency}}></td> -->

     <!-- can remove 'btn-link' to manipulate color scheme -->
           <!-- <a routerLink='/request/detail/{{request.id}}' style='padding-left: 16px' class='actionIcon'><img src='assets/details.png' width='20' height='20' title='Detail'></a>
           <div>
             <div>
            
           </div>
        <td class='actions'>
           <a routerLink='/request/edit/{{request.id}}' class='actionIcon'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a></td>
           <a routerLink='/request/lines/{{request.id}}'><img src='assets/lines.png' width='20' height='20' title='Lines'></a>
            <a *ngIf='loggedInUser.admin' routerLink='/request/edit/{{request.id}}' class='actionIcon'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a>
      
  </div> -->




<!-- <span><a *ngIf='!loggedInUser.admin' routerLink='/request/list'>  </span>    
  <span><a *ngIf='loggedInUser.admin == request.userName' routerLink='/request/list'>  </span>   -->
