<div class='component-content'>     
  <div class=''>
    <div class='lefthalf'>
      <span class='component-title'><strong>&nbsp;{{title}}&nbsp;&nbsp;&nbsp;</strong></span>      
        <span><a routerLink='/user/list'><strong>Back to List</strong></a></span>
      </div>
  </div>
  <table class="table table-sm" *ngIf='user'>
     <tr>
      <td>Id</td>
      <td>{{ user.id}}</td>
    </tr>
    <tr>
      <td>User Name</td>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <td>First tName</td>
      <td>{{ user.firstname }}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{ user.lastname }}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{ user.phone}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>{{ user.password }}</td>
      </tr>
    <tr>
      <td>Admin</td>
      <td>{{ user.isAdmin }}</td>
    </tr>
    <tr>
      <td>Reviewer</td>
      <td>{{ user.isReviewer }}</td>
    </tr>
    <tr>
      <td colspan="2">
        <!-- <a *ngIf='loggedInUser.admin || loggedInUser.userName == user.userName' routerLink='/user/edit/{{user.id}}' class='btn btn-primary' title='Edit' style='margin-right: 5px'>Edit</a> -->
        <!-- <button *ngIf='loggedInUser.admin' (click)="remove()" class='btn btn-danger' title='Delete'>REMOVE</button> -->
        <a routerLink='/user/edit/{{user.id}}' class='btn btn-primary' title='Edit' style='margin-right: 5px'>Edit</a>
        <button (click)="remove()" class='btn btn-danger' title='Delete'>Remove</button>
       
     
       </td>
    </tr>
  </table>
</div>
