<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
  <a routerLink="/home" class="navbar-brand"><img class='img-responsive' src="../../../assets/PRS-Logo-2-Resized.png"
      alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let mi of menuItems" title="{{mi.tooltip}}">       
        <a class="nav-link" routerLink="{{mi.href}}">{{mi.display}}</a>
        <!-- <a *ngIf='!loggedInUuser' class="nav-link disabled">{{mi.display}}</a> -->
      </li>
    </ul>
  </div>
</nav>


<!-- <a *ngIf='user' class="nav-link" routerLink="{{mi.href}}">{{mi.display}}</a>
<a *ngIf='userLoggedIn' class="nav-link disabled">{{mi.display}}</a> -->


<!-- <nav *ngIf="loggedInUser" class="container-fluid">
  <div class="row px-2">
    <div class="col">
      <button class="btn anchor font-weight-bold home" routerLink="/home">PRS</button>
      <ng-container *ngFor="let mi of menuItems">
        <div class="li" *ngIf="!(!loggedInUser.reviewer && mi.display=='Review') " title="{{ mi.tooltip }}">
          <button class="btn anchor" routerLink="{{ mi.href }}">{{ mi.display }}</button>
        </div>
      </ng-container>
    </div>
    <div class="col my-auto">
      <button class="btn btn-danger float-right" (click)="logout()">Logout</button>
      <div class="float-right user">{{loggedInUser.firstName}} {{loggedInUser.lastName}}</div>
    </div>
  </div>
</nav> -->






