<div id='component'>
  <div id='pagetitle'>
    <span><strong>{{title}}&nbsp;&nbsp;&nbsp;</strong></span>
    <span><a routerLink='/request/list'><strong>Back to list</strong></a></span>
  </div>


  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="requestlineitemproductid">Product:</label>
    <select [(ngModel)]='reqline.product' class="form-control">
      <option *ngFor="let product of products" [ngValue]="product">{{product.name}}</option>
    </select>

    <small id="prodIdHelp" class="form-text text-muted col-sm-2">Product's Id</small>
  </div>

  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="requestlineItemquantity">Quantity:</label>
    <input [(ngModel)]='reqline.quantity' name='Quantity' type="text" class="form-control col-sm-6" id="quantity"
      aria-describedby="QuantityHelp" placeholder="Quantity">
    <small id="QuantityHelp" class="form-text text-muted col-sm-2">Item's Quantity:</small>
  </div>

  <div class='form-group'>
    <button (click)='create()' class='btn btn-primary'>Create</button>
  </div>
</div>








<!-- <div class="form-group row">
      <label class='col-form-label col-sm-2' for="requestlineitemprequestid">Request Id:</label>
      <input [(ngModel)]='requestlineItem.request.id' name='RequestLineItemRequestId' type="text"
        class="form-control col-sm-6" id="requestLineItemRequestId" aria-describedby="reqIdHelp"
        placeholder="RequestLineItemRequestId" aria-readonly="true">
      <small id="reqIdHelp" class="form-text text-muted col-sm-2">Request's Id</small>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="RequestLineItemId">Line Item Id:</label>
      <input [(ngModel)]='requestlineItem.id' name='RequestLlineItem' type="text" class="form-control col-sm-6"
        id="requestLineItemId" aria-describedby="lineIdHelp" placeholder="RequestLlineItemId" aria-readonly="true">
      <small id="lineIdHelp" class="form-text text-muted col-sm-2">Line Item's Id</small>
    </div>










<div>
    <div>
    <span>{{title}}</span>
    </div>
        <div>
            <span><a routerLink='/request/list'>Back to list</a></span>
        </div> 

          <div>
             <label for="Product">Product:</label>
          <div>
                <select [(ngModel)]='product' class='form-control' name='product' id='product'>
                <option *ngFor="let product of products" [ngValue]="product">{{product.name}}</option>
                </select>
          </div>
          </div>
 
          <div>
            <label for="requestquantity">Quantity:</label>
            <input [(ngModel)]='reqline.quantity' name='quantity' type="number" class="form-control col-sm-6" id="requestquantity" aria-describedby="qtyHelp" placeholder="Quantity">
            <small id="qtyHelp" class="form-text text-muted col-sm-2">Quantity</small>
          </div>

          <div>
              <button (click)='create()' class='btn btn-primary'>Create</button>
          </div>
          <div>
            <label>{{message}}</label>
     </div>
</div> -->