<div class='component-content'>
  <div class='lefthalf'>
    <span class='component-title'>[{{title}}] </span>
    <span><a routerLink='/request/list'>Back to list</a></span>
  <!-- <span *ngIf='loggedInUser.admin'><a routerLink='/request/create'> -->
    <!-- <span><a routerLink='/request/create'> -->
  </div>
</div>  

<p *ngIf='!requests'>Loading ...</p>
<table class="table table-sm" *ngIf='requests'>
  <tr>   
    <th class='table-secondary'></th> 
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" ><u>User Name</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" ><u>Description</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" ><u>Justification</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" ></a><u>Delivery Mode</u></a></th>

    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('status')"><u>Status</u></a></th>
  
    <th class="table-secondary btn-link"><a class='btn btn-link font-weight-bold'>Action</a></th>

  </tr>                                                           <!-- can remove 'btn-link' to manipulate color scheme -->
       <tr>
        <td></td>
        <td {{request.user.username}}></td>
        <td {{request.description}}></td>
        <td {{request.justification}}></td>
        <td {{request.deliveryMode}}></td>
        <td {{request.status}}></td>
      
        <td class='actions'>
           <a routerLink='/request/detail/{{request.id}}' style='padding-left: 16px' class='actionIcon'><img 
                    src='assets/details.png' width='20' height='20' title='Detail'></a>
           <!-- <a *ngIf='loggedInUser.admin' routerLink='/request/edit/{{request.id}}' class='actionIcon'><img -->
           <a routerLink='/request/edit/{{request.id}}' class='actionIcon'><img src='assets/pencil-icon.png' width='20'
                    height='20' title='Edit'></a></td>
           <a routerLink='/request/lines/{{request.id}}'><img src='assets/lines.png' width='20' height='20' 
                    title='Lines'></a>
        </td>  
       </tr>
</table>
<div class='lefthalf'>
    <span class='component-title'>[Request Lines] </span>
    <span><a routerLink='/request-lines/create/{{request.id}}'>
        <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
    </span>
    <!-- <span *ngIf='loggedInUser.admin'><a routerLink='/request/create'> -->

</div>
<table class="table table-sm" *ngIf='requestLines'>
        <tr>
            <th class='table-secondary'></th>
            <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Product</u></a></th>
            <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Quantity</u></a></th>
            <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Price</u></a></th>
            <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Line Total</u></a></th>
         
    
            <th class="table-secondary btn-link"><a class='btn btn-link font-weight-bold'>Action</a></th>
        </tr>
        <tr *ngFor='let rl of requestLines'>
            <td></td>
            <td>{{rl.product.name}}</td>
            <td>{{rl.quantity}}</td>
            <td>{{rl.product.price | currency}}</td>
            <td>{{rl.quantity*rl.product.price | currency}}</td>
            
            <td class='actions'>
                <a routerLink='/request-line/edit/{{rl.id}}' style='padding-left: 16px' class='actionIcon'><img
                        src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a>
                <!-- <a *ngIf='loggedInUser.admin' routerLink='/request/edit/{{request.id}}' class='actionIcon'><img -->
                <a routerLink='/requestlines/{{request.id}}' class='actionIcon'(click)='remove(rl.id)'><img src='assets/delete.jpg' width='20'
                        height='20' title='Delete'></a>
                
            </td>
        </tr>
</table>         

<div>
    <a class='hibar' routerLink='/request-lines/create/{{request.id}}'>Create a New Product Request </a>
</div>
         
  <a style="float:right" *ngIf='request.status!="Review"'  (click)="review()" class='btn btn-primary' title='Submit' style='margin-right: 5px; color:white'>Submit for Review</a>










